<div class="flex flex-col justify-center items-center full">
    <div class="font-mono">
        Thank you for visiting my site!

    </div>
    <div class="flex flex-col justify-center items-center ">
    <div class="font-mono ">
        Here are some of my links:
        
    </div>
    <div class="h-10">   </div>
    <div class="font-mono hover:text-xl ">
      E-mail: veltandev@gmail.com
        
    </div>
     <div class="font-mono hover:text-xl">
       Phone: +40758563075
          
      </div>    <div class="font-mono hover:text-xl">
       Linkedin: veltandev
      </div>
      <div class="font-mono hover:text-xl">
        Instagram: @velt4n
       </div>
       
</div>
</div>