<div *ngIf="itemCount>0" class="flex justify-end mr-10 mt-2 sticky top-16">
<div class="shadowTheme-s h-16 w-16 bg-primary-light border border-black rounded-full active:shadow-none active:translate-x-1 active:translate-y-1 ">
    <div  class=" h-5 w-5 bg-accent-light border border-black rounded-full z-10 " >
        <div class="text-center text-sm font-serif text-white font-extrabold"  >{{itemCount}}</div>
    </div>
    <img src="/assets/CartIcon.png" class="scale-50 -mt-4" alt="">
   
</div>

