<!-- <!-- <app-nav-bar></app-nav-bar>
<app-imagebox></app-imagebox>
<app-imagebox></app-imagebox>
<app-imagebox></app-imagebox>
<app-imagebox></app-imagebox>
<app-imagebox></app-imagebox>
<app-imagebox></app-imagebox>
<app-imagebox></app-imagebox>
<app-imagebox></app-imagebox>
<app-imagebox></app-imagebox>
<app-imagebox></app-imagebox>
<app-imagebox></app-imagebox> -->
<!-- <h1 class="text-center text-xs font-thin top-2 size h-10 hover:text-lg hover:font-mono">
  Hello world!
</h1>
<div class="flex justify-evenly  w-auto bg-green-300 rounded border border-blue-300 sticky top-0 hover:font-semibold hover:text-7xl">
  NavBar

</div>
<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-14 m-10">
<div class="btnPrimary font-serif">Hello World</div>
<button class="btnPrimary">Hello World</button>
<div class="btnPrimary">Hello World</div>
<div class="btnPrimary">Hello World</div>
<div class="btnPrimary">Hello World</div>


<div class="btnPrimary">Hello World</div>
<div class="btnPrimary">Hello World</div>
<div class="btnPrimary">Hello World</div>
</div>
<div class="flex justify-center m-10 ">
  <div class="textLetter">V</div>
  <div class="textLetter">E</div>
  <div class="textLetter">L</div>
  <div class="textLetter">Ț</div>
  <div class="textLetter">A</div>
  <div class="textLetter">N</div>
</div>
<blockquote class="text-2xl font-semibold italic text-center text-slate-900 first-letter:font-extralight first-letter:text-7xl">
  When you look
  <span class="before:block before:absolute before:-inset-1 before:-skew-y-3 before:bg-pink-500 relative inline-block">
    <span class="relative text-white">annoyed</span>
  </span>
  all the time, people think that you're busy.
</blockquote> --> 
<app-shopping-cart></app-shopping-cart>


<div class="flex justify-center">
    <div class="m-16 mt-8 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-16 "
    >
    <app-imagebox *ngFor="let item of items" itemName={{item.name}} itemDescription="{{item.description}}"  itemId=101 [itemPrice]="item.price"  class=""></app-imagebox>
    
    </div>
    </div>